@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    border: 1px solid black;
}

.container {
    width: 1512px;
    height: 3031px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

h1 {
    position: absolute;
    width: 1167px;
    height: 41px;
    left: 41px;
    top: 59px;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
}

.list {
    position: absolute;
    width: 1167px;
    height: 82px;
    left: 41px;
    top: 142px;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

p {
    font-size: 20px;
}

.list2 {
    position: relative;
    left: 150px;
}

.list3 {
    position: relative;
    left: 400px;
}

.map-container {
    position: absolute;
    left: 39px;
    top: 262px;
    width: 1408px;
    height: 649px;
    /* border: 1px solid red; */
}

iframe {
    border: 5px solid green;
    height: 649px;
    width: 1408px;
}

.list-dispaly {
    position: absolute;
    width: 1167px;
    height: 251px;
    left: 41px;
    top: 978px;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
    /* border: 1px solid red; */
}

li {
    list-style: none;
    margin: 20px;
}

svg {
    position: absolute;
    top: 1324px;
    left: 76px;
    width: 30px;
    height: 30px;
}

#_filter {
    position: absolute;
    top: 1300px;
    left: 53px;
    padding-left: 128px;
    width: 1408px;
    height: 85px;
    border: 3px solid #000000;
    border-radius: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.postbox {
    position: absolute;
    left: 49px;
    top: 1448px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
}